body {
  margin: 0;
  padding: 0;
  font-family: "Contrail One", sans-serif !important;
  font-size: 16px;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 10vh 85vh 5vh;
  grid-template-areas:
    "header header header"
    "main main main"
    "footer footer footer";
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='414'  preserveAspectRatio='none' viewBox='0 0 414 826'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1015%26quot%3b)' fill='none'%3e%3crect width='414' height='826' x='0' y='0' fill='url(%26quot%3b%23SvgjsLinearGradient1016%26quot%3b)'%3e%3c/rect%3e%3cpath d='M207 707.41C288.84 704.14 376.01 697.85 433.34 639.34 490.25 581.23 491.89 494.26 495.46 413 499.26 326.27 509.74 232.53 454.08 165.92 395.02 95.2 298.49 56.78 207 67.63 122.27 77.69 69.2 154.77 12.35 218.35-39.77 276.66-92.91 335.31-101.82 413-111.82 500.18-101.55 597.48-38.04 658.04 24.66 717.81 120.44 710.84 207 707.41' fill='%231c538e'%3e%3c/path%3e%3cpath d='M207 603.5C259.95 601.39 316.36 597.32 353.45 559.45 390.28 521.86 391.34 465.58 393.65 413 396.11 356.88 402.89 296.22 366.87 253.13 328.66 207.37 266.2 182.51 207 189.52 152.18 196.04 117.83 245.91 81.05 287.05 47.32 324.78 12.94 362.73 7.17 413 0.71 469.41 7.35 532.37 48.45 571.55 89.01 610.23 150.99 605.72 207 603.5' fill='%232774c6'%3e%3c/path%3e%3cpath d='M207 499.59C231.07 498.63 256.71 496.78 273.57 479.57 290.31 462.48 290.79 436.9 291.84 413 292.96 387.49 296.04 359.92 279.67 340.33 262.3 319.53 233.91 308.23 207 311.42 182.08 314.38 166.47 337.05 149.75 355.75 134.42 372.9 118.79 390.15 116.17 413 113.23 438.64 116.25 467.26 134.93 485.07 153.37 502.65 181.54 500.6 207 499.59' fill='%23488fdb'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1015'%3e%3crect width='414' height='826' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='-24.88%25' y1='12.47%25' x2='124.88%25' y2='87.53%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1016'%3e%3cstop stop-color='%230e2a47' offset='0'%3e%3c/stop%3e%3cstop stop-color='%2300459e' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
  background-repeat: no-repeat;
  background-position: center center;
}

.header {
  grid-area: header;
}

/*Calculadora*/
.main {
  grid-area: main;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 10px;
}

.main .agregar {
  border: 1px solid black;
  border-radius: 10px;
  padding: 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background-color: #0196b2;
}

.main .agregar input {
  text-transform: capitalize;
}

.main .lista {
  padding: 20px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  gap: 10px;
  text-transform: capitalize;

  border: 1px solid black;
  border-radius: 10px;
  background-color: #0196b2;
}

.main .lista .int {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.main .calcular {
  border: 1px solid black;

  display: flex;
  flex-direction: column;

  padding: 20px;
}

.main .lista .int {
  display: flex;
}

.main .resultado {
  text-transform: capitalize;
  border-radius: 10px;
  color: black;
  background-color: #0196b2;
}

/*Index*/
h1 {
    color: transparent;
}
.main-index {
    grid-area: main;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.desc {
    margin: 0 auto;
    font-size: 20px;
}

.custom-btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    color: #fff;
    transition: background-color 0.3s, transform 0.3s;
    background-color: #5cb85c;
}


.custom-btn:hover {
    background-color: #218838;
    transform: translateX(5px);
    color: darkorange;
}


.footer {
  grid-area: footer;

  text-align: center;
}

/* MediaQuerys */
/*Celulares*/
@media screen and (max-device-width: 575.98px) and (orientation: portrait) {
  body {
    font-size: 14px;
  }

  .main .lista .int div {
    width: 100%;
  }
}

/*Tablets*/
@media screen and (min-width: 576px) and (max-width: 767.98px) and (orientation: portrait) {
  body {
    font-size: 16px;
  }
}

/*Notebooks*/
@media screen and (min-width: 992px) and (max-width: 1199.98px){

}

/*Escritorio*/
@media screen and (min-width: 1200px) {
  body {
    font-size: 18px;
  }
}